/*general*/

* {
  padding: 0;
  margin: 0;
}

body {
  width: 54rem;
  margin: auto;
  padding-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
}

/*header*/

header h1 {
  text-align: center;
  margin: 2rem 0;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
}

header ul,
header li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/*sections*/

.devhouse,
.WKU,
.Monocrystal,
.stateFarm,
.MIRTEK,
.TD,
.AFS {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.description {
  width: 70%;
}

.period {
  width: 30%;
  text-align: right;
}

ul {
  padding-left: 1rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 55rem) and (min-width: 38rem) {
  body {
    width: 36rem;
  }
}

@media only screen and (max-width: 38rem) {
  body {
    width: 27rem;
  }

  header h1 {
    text-align: left;
  }
}
